@import "../../commons/scss/variables";

.sidebar {
    background: rgb(112, 97, 162);
    background: linear-gradient(to bottom, rgba(112, 97, 162, 1) 0%, rgba(43, 33, 76, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7061a2', endColorstr='#2b214c', GradientType=0);
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 1rem;
    position: fixed;
    width: 322px;
    top: 0;
    z-index: 1;
    overflow-y: hidden;

    .logo {
        padding: 30px 0;

        img {
            max-width: 80%;
        }
    }

    ul {
        list-style: none;
        padding: 0 0 2rem;

        li {
            margin-bottom: 10px;
            padding-left: 20px;
            position: relative;

            a {
                color: $vimeo-white;
                cursor: pointer;
                font-size: 2rem;
                padding: 0;
                opacity: 0.5;
                background: none;
                text-decoration: none;

                &:hover {
                    background: none;
                }
            }

            &::before {
                background: $vimeo-white;
                content: "";
                display: inline-block;
                height: 100%;
                left: 0;
                opacity: 0.5;
                position: absolute;
                width: 5px;
            }

            &:hover,
            &.active {
                a {
                    font-weight: 700;
                    opacity: 1;
                }

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        animation: close 0.3s 1;
        left: -322px;
        @keyframes close {
            0% {
                left: 0;
            }
            100% {
                left: -322px;
            }
        }
    }

    @media screen and (min-width: 1025px) {
        animation: open 0.3s 1;
        left: 0;
        @keyframes open {
            0% {
                left: -322px;
            }
            100% {
                left: 0;
            }
        }
    }
}