.sidebar {
  background: #7061a2;
  background: linear-gradient(to bottom, #7061a2 0%, #2b214c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7061a2', endColorstr='#2b214c', GradientType=0);
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 1rem;
  position: fixed;
  width: 322px;
  top: 0;
  z-index: 1;
  overflow-y: hidden; }
  .sidebar .logo {
    padding: 30px 0; }
    .sidebar .logo img {
      max-width: 80%; }
  .sidebar ul {
    list-style: none;
    padding: 0 0 2rem; }
    .sidebar ul li {
      margin-bottom: 10px;
      padding-left: 20px;
      position: relative; }
      .sidebar ul li a {
        color: #FFFFFF;
        cursor: pointer;
        font-size: 2rem;
        padding: 0;
        opacity: 0.5;
        background: none;
        text-decoration: none; }
        .sidebar ul li a:hover {
          background: none; }
      .sidebar ul li::before {
        background: #FFFFFF;
        content: "";
        display: inline-block;
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        width: 5px; }
      .sidebar ul li:hover a, .sidebar ul li.active a {
        font-weight: 700;
        opacity: 1; }
      .sidebar ul li:hover::before, .sidebar ul li.active::before {
        opacity: 1; }
  @media screen and (max-width: 1024px) {
    .sidebar {
      animation: close 0.3s 1;
      left: -322px; }
    @keyframes close {
      0% {
        left: 0; }
      100% {
        left: -322px; } } }
  @media screen and (min-width: 1025px) {
    .sidebar {
      animation: open 0.3s 1;
      left: 0; }
    @keyframes open {
      0% {
        left: -322px; }
      100% {
        left: 0; } } }
