//Colors
//---------------------------

$vimeo-white:           #FFFFFF;
$vimeo-black:           #000000;
$vimeo-lightgray:       #EEEEEE;
$vimeo-gray:            #CCCCCC;
$vimeo-middlegray:      #879CAB;
$vimeo-darkgray:        #777777;
$vimeo-softdarkgray:    #545454;
$vimeo-darkergray:      #333333;
$vimeo-purple:          #635492;

//Fonts
//---------------------------

$openSans:              'Open Sans', sans-serif;
$arial:                 'Helvetica Neue', Helvetica, Arial, sans-serif;

//Routes
//---------------------------

$assets:                url("../../assets/vimeotest-assets.png");