@import "../../commons/scss/variables";

main {
    display: inline-block;
    padding-left: 322px;
    width: 100%;

    .row {
        margin: 0;
    }

    .col-md-3 {
        float: left;

        @media screen and (min-width: 1367px) {
            &:nth-child(4n+1) {
                clear: both;
            }
        }

        @media screen and (min-width: 1025px) and (max-width: 1366px) {
            width: 33.333333%;
            &:nth-child(3n+1) {
                clear: both;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 50%;
            &:nth-child(2n+1) {
                clear: both;
            }
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    .video {
        margin-top: 2rem;

        a {
            cursor: pointer;

            figure {
                .image {
                    background: $vimeo-black;
                    height: 0;
                    margin-bottom: 1rem;
                    overflow: hidden;
                    padding-bottom: 205px / 370px * 100%;
                    position: relative;

                    @media screen and (max-width: 767px) {
                        max-height: 400px;
                    }

                    img {
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        position: absolute;
                        right: 0;
                        transition: all 0.3s ease-in-out;
                        top: 0;
                    }

                    .hover {
                        background: url("../../assets/vimeotest-symbol.png") center center no-repeat;
                        background-size: 20%;
                        height: 100%;
                        left: 0;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        transition: all 0.3s ease-in-out;
                        width: 100%;
                    }
                }

                figcaption {
                    color: $vimeo-purple;
                    font-size: 1.5rem;
                    font-weight: 700;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            &:hover {
                figure {
                    .image {
                        img {
                            opacity: 0.5;
                        }

                        .hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .pagination-container {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    @media screen and (max-width: 1024px) {
        padding-left: 0;
    }
}