@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import "commons/scss/variables";

* {
    outline: none;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: $openSans;
}

img {
    max-width: 100%;
}

a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        transition: all 0.3s ease-in-out;
    }
}

iframe {
    height: 100% !important;
    left: 0;
    padding: 0 8%;
    position: absolute;
    top: 0;
    width: 100%;
    @media screen and (max-width: 767px) {
        padding: 20px;
    }
}

.pagination {
    margin: 40px 0;
    .page-item {
        .page-link {
            color: $vimeo-purple;
        }
        &.active {
            > a {
                background: $vimeo-purple;
                border-color: $vimeo-purple;
                color: $vimeo-white;
            }
        }
    }
}