@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
* {
  outline: none;
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Open Sans", sans-serif; }

img {
  max-width: 100%; }

a {
  transition: all 0.3s ease-in-out;
  text-decoration: none; }
  a:hover, a:focus, a:active, a:visited {
    transition: all 0.3s ease-in-out; }

iframe {
  height: 100% !important;
  left: 0;
  padding: 0 8%;
  position: absolute;
  top: 0;
  width: 100%; }
  @media screen and (max-width: 767px) {
    iframe {
      padding: 20px; } }

.pagination {
  margin: 40px 0; }
  .pagination .page-item .page-link {
    color: #635492; }
  .pagination .page-item.active > a {
    background: #635492;
    border-color: #635492;
    color: #FFFFFF; }
