.pagination-container {
  display: inline-block;
  text-align: center;
  width: 100%; }
  .pagination-container .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px; }
    .pagination-container .pagination .next,
    .pagination-container .pagination .previous {
      display: none; }
    .pagination-container .pagination li {
      display: inline;
      cursor: pointer; }
      .pagination-container .pagination li a {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #635492;
        text-decoration: none;
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC; }
        .pagination-container .pagination li a:focus, .pagination-container .pagination li a:hover {
          z-index: 3;
          color: #FFFFFF;
          background-color: #635492;
          border-color: #635492; }
      .pagination-container .pagination li.active a,
      .pagination-container .pagination li.active a:focus,
      .pagination-container .pagination li.active a:hover {
        z-index: 3;
        color: #FFFFFF;
        cursor: default;
        background-color: #635492;
        border-color: #635492; }
